---
layout: archive
---

<h1> Hi, This is Me</h1>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<p>
  I am a Computer Engineer Student at the University of Kurdistan and also extremely passionate about programming and
  research. I am willing to found a firm in the Augmented Reality (AR) field.
  <br>Recently, I have been working in an accelerator firm named Zharfa as a backend developer using Node.js.
  <br>In 2021, I participated in a research project managed by Dr. Sina Ahmadi from the University of Galwey and Dr.
  Fatemeh Daneshfar from the University of Kurdistan. It is supposed to be submitted soon.
  <br>please do not hesitate to contact me for further information. I am looking forward to giving your advice.
</p>
<h1> What Do You Want to Know About Me?</h1>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<ul>
  <li>
    <p>What is my education? Or which universities did I study?<br>
      <small>You can click on the <strong>Education</strong> button or click <a href="/edu/">here</a></small>
    </p>
  <li>
    <p>What projects did I work on?<br>
      <small>You can click on the <strong>Projects</strong> button or click <a href="/projects/">here</a></small>
    </p>
  <li>
    <p>What work experiences do I have? Or where did I work?<br>
      <small>You can click on the <strong>Experiences</strong> button or click <a href="/exp/">here</a></small>
    </p>
</ul>