---
layout: archive
---


<h1> What Do You Want to Know About Me?</h1>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<ul>
	<li><p>What is my education? Or which universities did I study?<br>You can click on <strong>Education</strong> button or click <a href="/edu/">here</a></p>
  <li><p>What projects did I work on?<br>You can click on  <strong>Projects</strong>  button or click <a href="/projects/">here</a></p>
  <li><p>What work experiences do I have? Or where did I work?<br>You can click on <strong>Experiences</strong> button or click <a href="/exp/">here</a></p>
  </ul>